.card-title {
    font-family: "Edu NSW ACT Foundation", cursive;
    font-size: 3vw;
    color: beige;
}

.card-text {
    font-family: "Edu QLD Beginner", cursive;
    font-size: 1.5vw;
    color: beige;
}

.card-img-top banner-img {
    height: 100%;
}

.banner-img {
    width: 100%;
    height: 70%;
}

.title {
    position: absolute;
    top: 28vw;
    left: 4vw;
}

.subtitle {
    position: absolute;
    top: 32.5vw;
    margin-left: 2vw;
}

.card {
    position: relative;
}

.movielists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 0rem;
}

.movie-card {
    margin: 2vw;
    margin-top: 0vw;
    width: 20vw;
    border-color: white;
}

.movies-title {
    font-size: 2vw;
    color: black;


}

.movies-img {
    height: 25vw;
    width: 20vw;
    position: relative;
}
.trending{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.favorite {
    position: absolute;
    width: 7.5vw;
    height: 1.5vw;
    font-size: 1.1vw;
    top: 22vw;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 6vw;
    border-color: rgba(94, 250, 255, 0.638);
    border-width: 0.1vw;
    box-shadow: 2rem black;
}